In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv('./data/hackathon_income_train.csv', delimiter=';', on_bad_lines='skip')
print(df.head()) 
print(df.info())

   id          dt              target turn_cur_cr_avg_act_v2  \
0   2  2024-04-30  109324,47632478633             1465144,96
1   4  2024-02-29   25558,02866242038              303593,66
2   5  2024-02-29  40666,753097982706              490754,01
3   6  2024-04-30   43856,67205839414              219875,12
4   7  2024-04-30  130420,85199232883     1750241,8449999997

  salary_6to12m_avg  hdb_bki_total_max_limit dp_ils_paymentssum_avg_12m  \
0               NaN                  52800.0           365346,244633755
1               NaN                 260200.0                        NaN
2               NaN                2000000.0                        NaN
3               NaN                  75000.0                        NaN
4               NaN                1000000.0                        NaN

   hdb_bki_total_cc_max_limit incomeValue   gender  ...  \
0                     23213.0     97366,0  Женский  ...
1                     10000.0     32580,0  Женский  ...
2                     90000.0     96866,0  Женский  ...
3                     75000.0     43860,0  Мужской  ...
4                    240000.0     83815,0  Женский  ...

  dp_ils_uniq_companies_1y avg_6m_travel avg_6m_government_services  \
0                      1,0           0,0                       57,0
1                      NaN           0,0                      707,0
2                      NaN         422,0                        0,0
3                      NaN           0,0                        0,0
4                      NaN           0,0                       84,0

  hdb_bki_active_cc_max_overdue  total_rur_amt_cm_avg_period_days_ago_v2  \
0                           0.0                                    297,0
1                          67.0                                  30245,0
2                           0.0                                 210322,0
3                           0.0                                   7187,0
4                           0.0                                 690038,0

  label_Above_1M_share_r1 transaction_category_supermarket_sum_cnt_d15  \
0     0,02702702702702703                                          9,0
1                     NaN                                          2,0
2                     0,0                                         20,0
3                     0,0                                          7,0
4                     0,0                                          9,0

  max_balance_rur_amt_1m_af                   w first_salary_income
0                       NaN  0,3012172807640372                 NaN
1                       NaN  0,6957996079578388                 NaN
2                       NaN  0,5159704060557002                 NaN
3                       NaN  0,4780029003784456                 NaN
4                       NaN  0,5523135540134384                 NaN

[5 rows x 224 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76786 entries, 0 to 76785
Columns: 224 entries, id to first_salary_income
dtypes: float64(34), int64(1), object(189)
memory usage: 131.2+ MB
None

In [ ]:
notna_counts = {}
for featuer in df.columns:
    notna_counts[featuer] = df[featuer].notna().sum() / len(df) * 100
sorted_notna_counts = dict(sorted(notna_counts.items(), key=lambda item: item[1]))
print("Fetures with counts NaN more then 80%", sum([1 for v in sorted_notna_counts.values() if v < 20]))

33

In [22]:
for column in df.select_dtypes(include=['object']).columns:
    df[column] = df[column].astype('category').cat.codes
print(df.head())

   id  dt  target  turn_cur_cr_avg_act_v2  salary_6to12m_avg  \
0   2   3    2480                    9710                 -1
1   4   1   21598                   25924                 -1
2   5   1   36271                   37060                 -1
3   6   3   38891                   18933                 -1
4   7   3    6851                   13883                 -1

   hdb_bki_total_max_limit  dp_ils_paymentssum_avg_12m  \
0                  52800.0                       10560
1                 260200.0                          -1
2                2000000.0                          -1
3                  75000.0                          -1
4                1000000.0                          -1

   hdb_bki_total_cc_max_limit  incomeValue  gender  ...  \
0                     23213.0        49542       0  ...
1                     10000.0        19132       0  ...
2                     90000.0        49388       0  ...
3                     75000.0        25424       1  ...
4                    240000.0        45011       0  ...

   dp_ils_uniq_companies_1y  avg_6m_travel  avg_6m_government_services  \
0                         1              0                        2352
1                        -1              0                        2613
2                        -1           2709                           0
3                        -1              0                           0
4                        -1              0                        2869

   hdb_bki_active_cc_max_overdue  total_rur_amt_cm_avg_period_days_ago_v2  \
0                            0.0                                    14421
1                           67.0                                    14675
2                            0.0                                    10029
3                            0.0                                    25647
4                            0.0                                    25143

   label_Above_1M_share_r1  transaction_category_supermarket_sum_cnt_d15  \
0                      420                                            94
1                       -1                                            17
2                        0                                            18
3                        0                                            72
4                        0                                            94

   max_balance_rur_amt_1m_af      w  first_salary_income
0                         -1  23846                   -1
1                         -1  56707                   -1
2                         -1  42011                   -1
3                         -1  39009                   -1
4                         -1  44856                   -1

[5 rows x 224 columns]

In [24]:
df_correlation = df.corr()
plt.figure(figsize=(12, 10))
plt.matshow(df_correlation, fignum=1)
plt.xticks(range(len(df_correlation.columns)), df_correlation.columns, rotation=90)
plt.yticks(range(len(df_correlation.columns)), df_correlation.columns)
cb = plt.colorbar()
cb.ax.tick_params(labelsize=10)
plt.title('Correlation Matrix', fontsize=15)
plt.show()

ValueError: could not convert string to float: '2024-04-30'